<img align="right" src="https://zenodo.org/record/7742997/files/Tops_Badge_Nasa.png" width="200" alt="NASA TOPS Logo">

# Transform to Open Science (TOPS) Group Project

[Akshay "XA" Mestry](https://www.linkedin.com/in/xames3/), [Bryan Palafox](https://www.linkedin.com/in/bryan-palafox/) and [Gianna Dubinski](https://www.linkedin.com/in/giadubinski/) under guidance of [Dr. Ian Moncrief](https://www.linkedin.com/in/ian-moncrief-nlu/)

## Open Science 101

The Open Science 101 is a 5-module curriculum designed to equip researchers, students and citizen scientists with the knowledge and skills to navigate the principles and practices of open science, including developing an open science and data management plan. Expand your Open Science expertise and equip yourself with the essential skills required to excel in the realm of open science.

[NLU](https://nl.edu) is supporting NASA's mission to Transform to Open Science. Check out the [NASA TOPS Github](https://github.com/nasa/Transform-to-Open-Science/blob/main/README.md#open-science-101-curriculum).

## Climate Change Impact on Phenology using [Budburst](https://budburst.org)

**Purpose:** To learn how to analyze and interpret field research data and use that information to make conclusions and predictions. Here, we identified trends, relationships, variations, outliers, and patterns in the data that we collected.

**Introduction:** Data Analysis is an important part of the scientific process. It is also something we use in our everyday life. It is the practice of working with data to glean useful information, which can then be used to make informed decisions. This data can be used to visualize situations and gain a better understanding of how things work. The data we collect tells us stories and a good researcher always listens carefully to what their data says!

In [1]:
import pandas as pd

In [2]:
URL: str = "https://raw.githubusercontent.com/xames3/Open-Science-101/main/Group-Projects/Climate%20change%20impact%20on%20phenology%20using%20Budburst/budburst_observations.csv"

In [41]:
budburst = pd.read_csv(URL, dtype="unicode")

In [42]:
budburst = (
    budburst
    .loc[budburst["report_type"] == "phenology"]
    .loc[budburst["common_name"] == "red maple"]
    .loc[budburst["country"].isin(("United States", "US"))]
    .loc[budburst["phenophase_title"].isin(("Bud burst", "Leaf bud burst"))]
    .dropna(axis=1, how="all")
)

In [55]:
budburst["observation_date"] = budburst["observation_date"].apply(pd.to_datetime)
budburst["observation_month"] = budburst["observation_date"].dt.strftime("%B").to_list()
budburst["observation_year"] = budburst["observation_date"].dt.to_period("Y")

In [57]:
output = (
    budburst
    .pivot_table(
        index=["observation_year", "observation_month"],
        columns="observation_month",
        # values="family",
        aggfunc="count",
        fill_value=0.0,
    )
)

In [58]:
output

                                   administrative_area_level_1         \
observation_month                                        April August
observation_year observation_month
2013             April                                     9.0    0.0
                 February                                  0.0    0.0
                 March                                     0.0    0.0
                 May                                       0.0    0.0
                 October                                   0.0    0.0
...                                                        ...    ...
2023             October                                   0.0    0.0
2024             April                                    30.0    0.0
                 February                                  0.0    0.0
                 March                                     0.0    0.0
                 May                                       0.0    0.0

                                                                         \
observation_month                  December February January March  May
observation_year observation_month
2013             April                  0.0      0.0     0.0   0.0  0.0
                 February               0.0      3.0     0.0   0.0  0.0
                 March                  0.0      0.0     0.0  11.0  0.0
                 May                    0.0      0.0     0.0   0.0  1.0
                 October                0.0      0.0     0.0   0.0  0.0
...                                     ...      ...     ...   ...  ...
2023             October                0.0      0.0     0.0   0.0  0.0
2024             April                  0.0      0.0     0.0   0.0  0.0
                 February               0.0      3.0     0.0   0.0  0.0
                 March                  0.0      0.0     0.0  21.0  0.0
                 May                    0.0      0.0     0.0   0.0  1.0

                                                               ... species_id  \
observation_month                  November October September  ...      April
observation_year observation_month                             ...
2013             April                  0.0     0.0       0.0  ...        9.0
                 February               0.0     0.0       0.0  ...        0.0
                 March                  0.0     0.0       0.0  ...        0.0
                 May                    0.0     0.0       0.0  ...        0.0
                 October                0.0     1.0       0.0  ...        0.0
...                                     ...     ...       ...  ...        ...
2023             October                0.0     2.0       0.0  ...        0.0
2024             April                  0.0     0.0       0.0  ...       30.0
                 February               0.0     0.0       0.0  ...        0.0
                 March                  0.0     0.0       0.0  ...        0.0
                 May                    0.0     0.0       0.0  ...        0.0

                                                                           \
observation_month                  August December February January March
observation_year observation_month
2013             April                0.0      0.0      0.0     0.0   0.0
                 February             0.0      0.0      3.0     0.0   0.0
                 March                0.0      0.0      0.0     0.0  11.0
                 May                  0.0      0.0      0.0     0.0   0.0
                 October              0.0      0.0      0.0     0.0   0.0
...                                   ...      ...      ...     ...   ...
2023             October              0.0      0.0      0.0     0.0   0.0
2024             April                0.0      0.0      0.0     0.0   0.0
                 February             0.0      0.0      3.0     0.0   0.0
                 March                0.0      0.0      0.0     0.0  21.0
                 May                  0.0      0.0      0.0     0.0   0.0


observation_month                   May November October September
observation_year observation_month
2013             April              0.0      0.0     0.0       0.0
                 February           0.0      0.0     0.0       0.0
                 March              0.0      0.0     0.0       0.0
                 May                1.0      0.0     0.0       0.0
                 October            0.0      0.0     1.0       0.0
...                                 ...      ...     ...       ...
2023             October            0.0      0.0     2.0       0.0
2024             April              0.0      0.0     0.0       0.0
                 February           0.0      0.0     0.0       0.0
                 March              0.0      0.0     0.0       0.0
                 May                1.0      0.0     0.0       0.0

[63 rows x 240 columns]